.navbar-light{background:#fff; border-bottom: 1px solid #EFEFEF; border-top:10px solid  #140E2A;}
.sticky-nav {
  position: sticky;
  top: 0;
}
.slick-slide img{max-width: 100%;}
.home-slider{position: relative;}
.home-slider .slide-item{position: relative;}
.event-content{position: absolute; top:0; left:0; z-index: 2; padding:30px 5% 0;}

.thumb-nav{position: absolute !important; top:0; right:5%; z-index: 2; width:100%; max-width:350px; background:#fff;}